<!DOCTYPE html>
<html lang ="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form method ="post" th:object ="${user}">
    <div th:class="field">
        <span th:errors="*{username}"></span>
        <span th:text="${message}"></span>
        <label for="username">Username</label>
    <input type="text" th:field="*{username}"/>
    </div>
    <div th:class="field">
        <span th:errors="*{password}"></span>
        <label for="password">Password</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <input type="submit" name="submit">
</form>
</body>
</html>